/* #Global
================================================== */
.the_content_wrapper pre		{ margin-bottom: 20px}

.rev_slider iframe 				{ max-width: 1220px;}
.rev_slider ul 					{ margin:0 !important;}
.tp-static-layers 				{ z-index: 200;}

.ls-yourlogo 					{ z-index: 28;} 				

.section.center					{ text-align: center;}
.section.no-margin .column,
.section.no-margin-v .column	{ margin-bottom:0;}

#Wrapper 						{ -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, .06); box-shadow: 0px 0px 15px rgba(0, 0, 0, .06);}


/* #Blank & #UnderConstruction
================================================== */
.page.hide-title-area:not(.with_aside) #Content,
.no-content-padding:not(.with_aside) #Content,
.template-blank #Content,
.under-construction #Content { padding:0 !important;}

.under-construction .section-uc-1 { padding-top:40px; background-color:#fff;}
.under-construction .section-uc-2 { padding-top:40px; background-color:#f5f5f5; background:url(../images/stripes/stripes_3_b.png) repeat center;}
.under-construction .section-uc-3 { padding-top:40px;}

.under-construction .section-border-top { border-top: 1px solid rgba(0, 0, 0, 0.08);}


/* Nice Scroll | .nice-scroll
================================================== */
body.nice-scroll { position:relative;}
body.nice-scroll:not(.layout-boxed) { padding-right:10px !important;}
.nice-scroll #configurator,
.nice-scroll #Sliding-top a.sliding-top-control,
.nice-scroll .fixed-nav.fixed-nav-next { margin-right:10px;}
.nice-scroll .nicescroll-rails { background:#666; z-index:9001 !important;}


/* Slider | Pagination
================================================== */
.slider_pagination, .tp-bullets.simplebullets.round { text-align: center; line-height: 0; }
.slider_pagination a,
.tp-bullets.simplebullets.round .bullet { display: inline-block; width: 12px; height: 12px; text-indent: -9999px; margin: 0 9px; background: rgba(0,0,0,.15); -webkit-border-radius: 100%; border-radius: 100%; position: relative; }
.slider_pagination a:hover { background: rgba(0,0,0,.25); }
.slider_pagination a.selected,
.tp-bullets.simplebullets.round .bullet.selected { width: 10px; height: 8px; margin: 0px 10px 0; position: relative; top: 4px; background: rgba(0,0,0,.15); -webkit-border-radius: 2px; border-radius: 2px; }	
.slider_pagination a.selected:after,
.tp-bullets.simplebullets.round .bullet.selected:after { content: ""; display: block; width: 8px; height: 8px; -webkit-border-radius: 1px; border-radius: 1px; position: absolute; left: 1px; top: -3px; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -o-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }

	.tp-bullets.simplebullets.round .bullet { background: #fff; }
	
	
/* Slider Revolution | Navigation
================================================== */
.tp-bullets.tp-thumbs { z-index: 29; }
.fullwidthbanner-container .tp-thumbs { padding: 0 !important; }

.tp-bullets.tp-thumbs .tp-mask,
.tp-bullets.tp-thumbs .bullet { overflow: visible; }
.tp-bullets.tp-thumbs .bullet.selected:after { bottom: -7px; content: ""; display: block; height: 7px; left: 0; position: absolute; width: 100%; }

	/* Arrows */
	.tparrows.round, .tparrows.navbar { display: inline-block; padding: 0; width: 46px; height: 46px; cursor: pointer; border: 0; -webkit-border-radius: 5px; border-radius: 5px; position: relative; overflow: hidden; -webkit-box-shadow:inset 0 0 0 1px rgba(0,0,0,.03); box-shadow:inset 0 0 0 1px rgba(0,0,0,.03); background-repeat: no-repeat; background-position: center center; }
	.tp-leftarrow.round, .tp-leftarrow.navbar { background-image: url(../images/tp-leftarrow.png); }
	.tp-rightarrow.round, .tp-rightarrow.navbar { background-image: url(../images/tp-rightarrow.png); }
	
	.tparrows.round:after { content: ""; position: absolute; left: 0; top: 0; height: 100%; width: 0; z-index: 1; text-decoration: none; background: rgba(0,0,0,.05); -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
	.tparrows.round:hover:after { width: 100%; }
	
	.tparrows.default.preview1,
	.tparrows.default.preview4 { background: transparent;}
	

/* #Sliding top
================================================== */
#Sliding-top { position: absolute; left: 0; top: 0; width: 100%; z-index: 800; }
#Sliding-top:after { content: ""; height: 3px; width: 100%; display: block; position: absolute; left: 0; bottom: -3px; z-index: 1; background: url(../images/box_shadow.png) repeat-x left top; }
#Sliding-top .widgets_wrapper { padding: 15px 0; display: none; }
#Sliding-top .widgets_wrapper .column { margin-bottom: 0; }
#Sliding-top .widgets_wrapper .widget { margin-bottom: 0; padding: 15px 0; }
#Sliding-top .widgets_wrapper .widget:after { display: none; }

#Sliding-top a.sliding-top-control { display: block; width: 0; height: 0; border-style: solid; border-width: 0 45px 45px 0; border-color: transparent transparent transparent transparent; position: absolute; z-index: 801; right: 0; bottom: -45px; }
#Sliding-top a.sliding-top-control span { display: block; width: 26px; height: 30px; line-height: 25px; text-align: center; position: absolute; right: -45px; top: 0; color: #fff; font-size: 18px; }

#Sliding-top a.sliding-top-control .minus { display: none; }
#Sliding-top a.sliding-top-control .plus { display: block; }

#Sliding-top.active a.sliding-top-control .minus { display: block; }
#Sliding-top.active a.sliding-top-control .plus { display: none; }

	/* 
	#Sliding-top .widgets_wrapper .widget ul { margin: 0 0 15px 30px; line-height: 21px; }
	#Sliding-top .widgets_wrapper .widget ul li { list-style:disc outside; padding: 3px 0; }
	*/

	/* Widgets */
	#Sliding-top .Recent_posts ul li .desc { background: rgba(0,0,0,.1); }
	#Sliding-top .widget_mfn_menu ul li a { background: rgba(0,0,0,.1); color: #ccc; }
	#Sliding-top .widget_recent_entries ul li { background: rgba(0,0,0,.1); }
	
	#Sliding-top ul.list_mixed li:after, 
	#Sliding-top ul.list_check li:after, 
	#Sliding-top ul.list_star li:after, 
	#Sliding-top ul.list_idea li:after { background: rgba(255,255,255,.08); }
	
	#Sliding-top .widget_mfn_recent_comments ul li .date_label { background-color: rgba(0,0,0,.07); }
	#Sliding-top .widget_mfn_recent_comments ul li .date_label:after { border-left-color: rgba(0,0,0,.07); }

/* #Pager
================================================== */
.pager_wrapper { margin-bottom: 0; }
.pager { text-align: center; }
.pager .pages { display: inline-block; margin: 0 30px; padding: 4px 3px; -webkit-border-radius: 5px; border-radius: 5px; background-color: #f8f8f8; background-image: url(../images/stripes/stripes_3_b.png); }
.pager .pages a, .pager .pages span.page-numbers { display: inline-block; margin: 0 1px; width: 35px; height: 35px; line-height: 35px; text-align: center; -webkit-border-radius: 5px; border-radius: 5px; }
.pager .pages a:hover { text-decoration: none; }
.pager .pages a:hover, .pager .pages a.active, .pager .pages span.page-numbers.current { color: #fff; }
.pager a.next_page,
.pager a.prev_page { display: inline-block; line-height: 43px; }

	/* Animation */
	.pager .pages a { -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
	
/* #Load more button
================================================== */
.pager_lm { background: url("../images/preloader.gif") no-repeat center 17px; text-align:center;}
.pager_lm .pager_load_more { margin:0;}
.pager_lm.loading { min-height:49px;}
.pager_lm:not(.loading) { background: none;}


/* #Pager single (blog post)
================================================== */
.pager-single { text-align: center; background: rgba(0, 0, 0, 0.02); margin-top: 15px; }
.pager-single span { height: 45px; line-height: 45px; display: inline-block; padding: 0 9px; position: relative; font-weight: bold; }
.pager-single a span { font-weight: normal; }
.pager-single span:after { content: ""; display: block; position: absolute; left: 0; bottom: -1px; width: 100%; height: 1px; }
.pager-single a span:after { display: none; }

/* #Fixed nav
================================================== */
.post-nav .fixed-nav { display: none; }
.fixed-nav { position: fixed; bottom: 40px; height: 80px; z-index: 90; }
.fixed-nav.fixed-nav-prev { left: 0; }
.fixed-nav.fixed-nav-next { right: 0; }

.fixed-nav .arrow { display: block; width: 35px; height: 80px; font-size: 15px; position: relative; z-index: 92; color: #fff;line-height: 80px; text-align: center; }
.fixed-nav .photo { height: 80px; width: 80px; position: relative; z-index: 92; overflow: hidden; line-height: 0; }
.fixed-nav .desc { width: 190px; padding: 6px 15px; min-height: 68px; background: #fff; z-index: 91; }
.fixed-nav .desc h6 { margin-bottom: 3px; padding-bottom: 3px; border-bottom-width: 1px; border-style: solid; }
.fixed-nav .desc i { display: inline-block; margin-right: 2px; }
.fixed-nav .desc i:before { margin-left: 0; }

.fixed-nav-prev .arrow, .fixed-nav-prev .photo, .fixed-nav-prev .desc { float: left; }
.fixed-nav-prev .desc { margin-left: -335px; }
.fixed-nav-prev:hover .desc { margin-left: 0px; }
.fixed-nav-next .arrow, .fixed-nav-next .photo, .fixed-nav-next .desc { float: right; }
.fixed-nav-next .desc { margin-right: -335px; }
.fixed-nav-next:hover .desc { margin-right: 0px; }

	/* Animation */
	.fixed-nav .photo,
	.fixed-nav .desc { -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }

	/* Format */
	.fixed-nav.format-quote .desc { display: none; }
	.fixed-nav.format-quote .photo { background-color: #eee; background-image: url("../images/blockquote.png"); background-position: center center; background-repeat: no-repeat; background-size: 50% auto; }
	.fixed-nav.format-link .photo img { display: none; }
	.fixed-nav.format-link .photo { background-color: #eee; background-image: url("../images/link.png"); background-position: center center; background-repeat: no-repeat; }

	@media only screen and (max-width: 1430px) {
		.fixed-nav-prev .photo { position: static; margin-left: -115px; }
		.fixed-nav-prev:hover .photo { margin-left: 0; }
		.fixed-nav-next .photo { position: static; margin-right: -115px; }
		.fixed-nav-next:hover .photo { margin-right: 0; }
	}

/* #Filters
================================================== */
#Filters { margin-bottom: 10px; }
#Filters .filters_buttons { padding: 15px 15px; background-image: url(../images/stripes/stripes_5_b.png); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; overflow: hidden; }
#Filters .filters_buttons li { display: inline; margin-right: 15px; }
#Filters .filters_buttons li.categories i,
#Filters .filters_buttons li.tags i { margin-right: 3px; }
#Filters .filters_buttons li.reset { float: right; margin-right: 0; }

#Filters .filters_wrapper { margin-top: 0; }
#Filters .filters_wrapper ul{ display: inline-block; width: 100%; text-align: center; }
#Filters .filters_wrapper ul li { display: inline; margin: 0 4px 10px 4px; }
#Filters .filters_wrapper ul li a { display: inline-block; padding: 5px 10px; margin-bottom: 10px; border: 1px solid #ccc; color: #8d8d8d; font-weight: 400; text-transform: uppercase;}
#Filters .filters_wrapper ul li a:hover,
#Filters .filters_wrapper ul li.current-cat a { text-decoration: none; color: #fff; background-color: #364359; border-color: #364359; }
#Filters .filters_wrapper ul li.close a { text-align: center; width: 38px; padding: 7px 0; background: #8B8B8B; border: 1px solid #F7F7F7 !important; color: #fff; }
#Filters .filters_wrapper ul li.close a:hover { background: #364359; }

	/* Animations */
	#Filters .filters_wrapper ul li a {
		-webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;
	}

/* #Owl-pagination
================================================== */

/* #NEXT / PREV NAVI 
================================================== */

/* Section: Highlight
================================================== */
.highlight-left,
.highlight-right { position:relative;}
.highlight-left:after,
.highlight-right:after { content:""; position:absolute; width:50%; height:100%; top:0; }
.highlight-left:after { left:0; }
.highlight-right:after { right:0; }
.highlight-left .section_wrapper,
.highlight-right .section_wrapper { z-index:2;}

@media only screen and (max-width: 767px) 
{
	.highlight-left:after,
	.highlight-right:after { content:none;}
}	

/* Section: Portfolio
================================================== */
.section.full-width .section_wrapper { width:100% !important;}
.section.full-width .section_wrapper .column.one { width:100%; margin: 0 !important; }


/* #Header
================================================== */
body:not(.template-slider) #Header_wrapper { background-repeat: no-repeat; background-position: top center;}
body:not(.template-slider) #Header_wrapper.bg-fixed { background-attachment:fixed;}

#Header_wrapper { position:relative; }
#Header { position:relative;}
body:not(.template-slider) #Header { min-height: 250px;}

.header-transparent .header_placeholder,
.header-empty .header_placeholder { height:0 !important;}

	/* Minimalist Header */
	body.minimalist-header:not(.template-slider) #Header { min-height:0; background-image:none !important;}
	body.minimalist-header.header-modern:not(.template-slider) #Header { min-height:147px;}
	body.minimalist-header.header-simple:not(.template-slider) #Header { min-height:130px;}
	body.minimalist-header.header-stack:not(.template-slider) #Header { min-height:0;}
	body.minimalist-header.header-fixed:not(.template-slider) #Header { min-height:60px;}
	body.minimalist-header.header-below:not(.template-slider) #Header { min-height: 90px; padding-top: 0;}


/* #Action bar
================================================== */
#Action_bar { position: absolute; left: 0; top: 0; width: 100%; z-index: 30; }
#Action_bar .column { margin-bottom: 0; overflow: hidden; }

#Action_bar .contact_details { float: left; }
#Action_bar .contact_details li { display: inline-block; margin-right: 10px; padding: 20px 0; color: rgba(255, 255, 255, 0.5); }
#Action_bar .contact_details li > i { margin-right: 2px; }
#Action_bar .contact_details li:last-child { margin-right: 0px; }

#Action_bar .social { float: right; padding: 20px 0; }
#Action_bar .social li { display: inline-block; margin-right: 6px; }
#Action_bar .social li:last-child { margin-right: 0px; }
#Action_bar .social li a { color: rgba(255,255,255,.3); font-size: 15px; line-height: 15px; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;  }
#Action_bar .social li a:hover { color: rgb(255,255,255); }

#Action_bar .social-menu { float: right; padding: 20px 0; }
#Action_bar .social-menu li { display: inline-block; margin-right: 6px; padding-right: 6px; border-right: 1px solid rgba(255,255,255,.1); }
#Action_bar .social-menu li:last-child { margin-right: 0px; padding-right: 0; border-right: 0; }

/* #Top_bar
================================================== */
#Top_bar { position: absolute; left: 0; top: 61px; width: 100%; z-index: 30; }
#Top_bar .column { margin-bottom: 0; }

.layout-full-width.header-fw #Action_bar .container,
.layout-full-width.header-fw #Top_bar .container { width:100%;}

#Top_bar .top_bar_left { position: relative; float: left; }
#Top_bar .top_bar_right { float: right; height: 90px; position: relative; top: -4px; padding: 0 10px 0 20px; }
#Top_bar .top_bar_right:before { content: ""; display: block; height: 90px; width: 10px; position: absolute; left: -10px; top: 2px; background-image: url(../images/top_bar_right_shadow.png); background-repeat: repeat-y; -moz-transform: skewX(0deg) skewY(-25deg); -webkit-transform: skewX(0deg) skewY(-25deg); -o-transform: skewX(0deg) skewY(-25deg); -ms-transform: skewX(0deg) skewY(-25deg); transform: skewX(0deg) skewY(-25deg); }
.ie #Top_bar .top_bar_right:before { width: 11px; }

	/* Top bar width */
	#Top_bar .top_bar_left { width: 990px; }

	/* Logo */
	#Top_bar .logo { float: left; margin: 0 30px 0 20px;}
	#Top_bar .logo h1 { margin: 0;}
	#Top_bar .logo:not(.text-logo) h1 { line-height: 0; font-size: 0; margin: 0;}
	#Top_bar #logo { display: block; height: 60px; line-height: 60px; padding: 25px 0px; margin: 20px 0;} /* overflow: hidden; */
	#Top_bar #logo:hover { text-decoration: none; }
	#Top_bar #logo img { vertical-align:middle; max-height:100%;}
	
	#Top_bar #logo img.logo-sticky { display:none;}

	/* Menu wrapper */
	#Top_bar .menu_wrapper { float: left; z-index: 201;}
	
	/* Secondary menu wrapper */
	#Top_bar .secondary_menu_wrapper { display: none; }

	/* Menu responsive */
	#Top_bar a.responsive-menu-toggle { display: none; }
	
	/* Banner */
	#Top_bar .banner_wrapper { display: none; }

	/* Search wrapper */
	#Top_bar .search_wrapper { position: absolute; left: 0; top: 100%; display: none; z-index: 201; width: 100%; padding: 15px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
	#Top_bar .search_wrapper input[type="text"] { width: 100%; margin: 0; -webkit-box-shadow: 0 0 0; box-shadow: 0 0 0; padding-left: 35px; background: none; border-width: 0 0 1px 0; border-style: solid; border-color: rgba(255,255,255,.08) !important; font-size: 15px; }
	#Top_bar .search_wrapper input[type="text"]:focus { background-color: transparent !important; }
	#Top_bar .search_wrapper .icon_search,
	#Top_bar .search_wrapper .icon_close { position: absolute; top: 25px; font-size: 20px; line-height: 20px; display: block; }
	#Top_bar .search_wrapper .icon_search { left: 18px; color: rgba(0,0,0,.5); }
	#Top_bar .search_wrapper .icon_close { right: 18px; color: #fff; opacity: 0.3; filter: alpha(opacity=30); -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
	#Top_bar .search_wrapper .icon_close:hover { right: 18px; opacity: 1; filter: alpha(opacity=100); }

	/* Cart */
	#Top_bar a#header_cart { position: relative; top: 34px; display: block; float:left; font-size: 20px; line-height: 20px; margin-right: 15px; }
	#Top_bar a#header_cart span { position: absolute; right: -9px; top: -7px; display: block; -webkit-border-radius: 3px; border-radius: 3px; width: 17px; height: 17px; line-height: 17px; text-align: center; font-size: 11px; color: #fff; }
	
	/* Search */
	#Top_bar a#search_button { position: relative; top: 34px; display: block; float:left; font-size: 20px; line-height: 20px; margin-right: 10px; }
	#Top_bar a.button.action_button { top: 23px; margin: 0 10px 0 0; color: #fff; }
	
	/* WPML */
	#Top_bar .wpml-languages { display: block; float:left; position: relative; top: 25px; z-index: 210; margin-right: 10px; }
	#Top_bar .wpml-languages a.active { display: block; padding: 8px 6px 8px 10px; border-width: 1px; border-style: solid; border-color: #e8e8e8; -webkit-border-radius: 5px; border-radius: 5px; }
	#Top_bar .wpml-languages.disabled a.active { padding: 8px 10px; } 
	#Top_bar .wpml-languages a.active i { font-size: 14px; line-height: 14px; margin: 0 0 0 5px; }
	#Top_bar .wpml-languages a.active i:before { margin: 0; }
	#Top_bar .wpml-languages a:hover.active { text-decoration: none; }
	#Top_bar .wpml-languages.enabled:hover a.active { -webkit-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; border-bottom: 0; }
	#Top_bar .wpml-languages ul.wpml-lang-dropdown { position: absolute; left: 0; top: 100%; width: 100%; -webkit-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px; z-index: 205; overflow: hidden; display: none; border-width: 0 1px 1px 1px; border-style: solid; border-color: #e8e8e8; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
	#Top_bar .wpml-languages ul.wpml-lang-dropdown li { border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
	#Top_bar .wpml-languages ul.wpml-lang-dropdown li:last-child { border-bottom: 0; }
	#Top_bar .wpml-languages ul.wpml-lang-dropdown li a { font-size: 12px; display: block; text-align: center; padding: 4px 0px; color: #8B8B8B; }
	#Top_bar .wpml-languages ul.wpml-lang-dropdown li a:hover { text-decoration: none; color: #5F5F5F; background: rgba(0,0,0,.03); }
	
	#Top_bar .wpml-languages:hover { height: auto; }
	#Top_bar .wpml-languages:hover ul.wpml-lang-dropdown { display: block; }
	
	#Top_bar .wpml-languages a.active,
	#Top_bar .wpml-languages ul.wpml-lang-dropdown { background: #fff; }
	
		#Top_bar .wpml-languages.horizontal { display: block; padding: 8px 10px; border:1px solid #e8e8e8; background:#fff; -webkit-border-radius: 5px; border-radius: 5px; }
		#Top_bar .wpml-languages.horizontal ul li { float:left; margin-right:6px; }
		#Top_bar .wpml-languages.horizontal ul li:last-child { margin-right:0; }


/* #menu
================================================== */
/* main menu 1st level */
#Top_bar #menu { z-index: 201;}
#Top_bar .menu { z-index: 202;}
#Top_bar .menu > li { margin: 0; z-index: 203; display: block; float: left; }
#Top_bar .menu > li:not(.mfn-megamenu-parent) { position: relative; }
#Top_bar .menu > li.hover { z-index: 204; }
#Top_bar .menu > li > a { display: block; line-height: 60px; padding: 15px 0; position: relative; }
#Top_bar .page-menu > li > a { padding: 15px 20px; } /* default WP Pages Menu */
#Top_bar .menu > li > a:after { content: ""; height: 4px; width: 100%; position: absolute; left: 0; top: -4px; z-index: 203; opacity: 0; filter: alpha(opacity=0); }
#Top_bar .menu > li > a span:not(.description) { display: block; line-height: 60px; padding: 0 20px; white-space: nowrap; border-right-width: 1px; border-style: solid; }
#Top_bar .menu > li > a span.description { font-size:11px; line-height:12px !important; margin:-15px -15px 0; color:#aaa; font-weight:300; text-align:center; display:block;}
#Top_bar .menu > li:last-child > a span { border: 0; }
#Top_bar .menu > li > a:hover { text-decoration: none; }

.menu-arrows #Top_bar .menu > li.submenu > a > span:not(.description) { padding-right:30px; }
.menu-arrows #Top_bar .menu > li.submenu > a > span:not(.description):after { content:""; display:block; width:0; height:0; position:absolute; top:50%; right:10px; margin-top:-2px; border-top:5px solid #ccc; border-left:5px solid transparent; border-right:5px solid transparent; }


	.menu-highlight #Top_bar .menu > li.current-menu-item > a,
	.menu-highlight #Top_bar .menu > li.current_page_item > a,
	.menu-highlight #Top_bar .menu > li.current-menu-ancestor > a,
	.menu-highlight #Top_bar .menu > li.current_page_ancestor > a,
	.menu-highlight #Top_bar .menu > li.hover > a { 
		color: #fff;
	}
	
	/* Animation */
	#Top_bar .menu > li > a,
	#Top_bar .menu > li > a:after { -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
	#Top_bar .menu > li.current-menu-item > a:after,
	#Top_bar .menu > li.current_page_item > a:after,
	#Top_bar .menu > li.current-menu-ancestor > a:after,
	#Top_bar .menu > li.current_page_ancestor > a:after,
	#Top_bar .menu > li.hover > a:after { opacity: 1; filter: alpha(opacity=100); }

/* main menu 2nd level */
#Top_bar .menu li ul { position: absolute; left: 0px; top: 100%; z-index: 205; margin: 0; display: none; background-image: url(../images/box_shadow.png); background-repeat: repeat-x; background-position: left top; }
#Top_bar .menu li > ul { box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.03); -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.03); }
#Top_bar .menu li ul li { padding: 0; width: 190px; position: relative; font-weight: normal; }
#Top_bar .menu li ul li a { padding: 10px 10px 10px 20px; display: block; border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
#Top_bar .menu li ul li a span { display: inline-block; position: relative; }
#Top_bar .menu li ul li a .menu-arrow { position: absolute; right: 7px; top: 11px; font-size: 12px; color: rgba(0, 0, 0, 0.35); }
#Top_bar .menu > li ul li a:hover,
#Top_bar .menu > li ul li.hover > a { text-decoration: none; background: rgba(0,0,0,.06); }

/* main menu 3rd level */
#Top_bar .menu li ul li ul { position: absolute; left: 190px; top: 0px; z-index: 204; }

	/* Animation */
	#Top_bar .menu li ul li a { -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }


/* #secondary menu
================================================== */
#Header #menu-secondary-menu { z-index: 220; }
#Header .secondary-menu { z-index: 221; }
#Header .secondary-menu > li { margin: 0; z-index: 222; display: block; float: left; position: relative; padding: 8px 9px; line-height: 100%; -webkit-border-radius: 4px; border-radius: 4px; }
#Header .secondary-menu > li.submenu { -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0; }
#Header .secondary-menu > li > a { display: block; }
#Header .secondary-menu > li > a:hover { text-decoration: none; }

	#Header .secondary-menu li ul { position: absolute; left: 0px; padding: 7px; top: 100%; z-index: 223; margin: 0; display: none; -webkit-border-radius: 0px 4px 4px 4px; border-radius: 0 4px 4px 4px; }
	#Header .secondary-menu li ul li {}
	#Header .secondary-menu li ul li:last-child { border-bottom: 0; }
	#Header .secondary-menu li ul li a { display: block; text-align: center; white-space: nowrap; padding: 6px 8px; }
	#Header .secondary-menu li ul li a:hover { text-decoration: none; }

#Header .secondary-menu > li > a { color: #A8A8A8; }
#Header .secondary-menu > li.hover,
#Header .secondary-menu li ul {  background: #F9F9F9; }
#Header .secondary-menu li ul li { border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
#Header .secondary-menu li ul li a { color: #8B8B8B; }
#Header .secondary-menu li ul li a:hover { color: #5F5F5F; background: rgba(255, 255, 255, 0.8); }

/* #Header styles
================================================== */
.header-fixed #Action_bar { display: none; }
@media only screen and (min-width: 768px) {

	.header-fixed #Top_bar { position:fixed; width:100%; left:0; top: 0 !important; height:60px; z-index:701; background:#fff; opacity:.97; filter: alpha(opacity = 97);
		-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
		   -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
		        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
	}
	
	.header-fixed #Top_bar .top_bar_left,
	.header-fixed #Top_bar .top_bar_right,
	.header-fixed #Top_bar .top_bar_right:before { background:none;}
	.header-fixed #Top_bar .top_bar_right { top:-4px;}
	
	.header-fixed #Top_bar .logo { width:auto; margin: 0 30px 0 20px; padding:0;}
	.header-fixed #Top_bar #logo { padding:5px 0; height:50px; line-height:50px;}
	.header-fixed #Top_bar #logo img { max-height:35px;}
	
	.header-fixed #Top_bar .menu_wrapper { clear:none;}
	.header-fixed #Top_bar .menu_wrapper .menu > li > a  { padding:15px 0;}
	
	.header-fixed #Top_bar .menu > li > a,
	.header-fixed #Top_bar .menu > li > a span { line-height:30px;}
	.header-fixed #Top_bar .menu > li > a:after { top:auto; bottom:-4px;}
	
	.header-fixed #Top_bar .menu > li > a span.description { margin-top:-5px;}
	
	.header-fixed #Top_bar #header_cart { top:27px;}
	.header-fixed #Top_bar #search_button { top:25px;}
	.header-fixed #Top_bar .wpml-languages { top:15px;}
	
	.header-fixed #Top_bar .secondary_menu_wrapper { display:none;}
	
	.header-fixed #Top_bar .responsive-menu-toggle { top:12px;}
}

.header-below {}
.header-below #Header .top_bar_left,
.header-below #Header .top_bar_right { background-color: transparent; }
.header-below #Top_bar { position: static; }
.header-below #Top_bar .top_bar_right { top: 0; }
.header-below #Top_bar .top_bar_right:before { display: none; }
.header-below #Action_bar { display: none; }
body.header-below:not(.template-slider) #Header { min-height: 90px; padding-top: 160px; }

	.header-below #Top_bar { background-color: #fff; }

.header-classic {}
.header-classic #Header .top_bar_left,
.header-classic #Header .top_bar_right { background-color: transparent; }
.header-classic #Top_bar { position: static; }
.header-classic #Top_bar .top_bar_right { top: 0; }
.header-classic #Top_bar .top_bar_right:before { display: none; }
.header-classic #Action_bar { position: static; }
.header-classic #Action_bar .contact_details li,
.header-classic #Action_bar .social,
.header-classic #Action_bar .social-menu { padding: 12px 0; }

	.header-classic #Action_bar { background-color: #2C2C2C; }
	.header-classic #Top_bar { background-color: #fff; }
		
.header-split {}
.header-split #Header .top_bar_left { width: 100% !important; }
.header-split #Header .top_bar_left,
.header-split #Header .top_bar_right { background-color: transparent; }
.header-split #Header .top_bar_left .menu_wrapper { width: 100%; }
.header-split #Header .top_bar_left .menu_left { float: left; width: 38%; text-align: center; }
.header-split #Header .top_bar_left .menu_right { float: right; width: 38%; text-align: center; }
.header-split #Header .top_bar_left .menu > li { display: inline-block; float: none; }
.header-split #Header .top_bar_left .logo { width: 100%; margin: 0; text-align: center; }
@media only screen and (min-width: 1240px) {
	.header-split #Header .top_bar_left .logo { position: absolute; left: 38%; width: 24%; }
}

.header-split #Top_bar .top_bar_right { position:absolute; top:0; right:-28px; padding:0; }
.header-split #Top_bar a.action_button,
.header-split #Top_bar a#header_cart,
.header-split #Top_bar .wpml-languages { display: none; }
.header-split #Top_bar .top_bar_right:before { display: none; }

.header-split #Top_bar { position: static; background-color: #fff;}
.header-split #Action_bar { position: static; background-color: #2C2C2C;}
.header-split #Action_bar .contact_details li,
.header-split #Action_bar .social,
.header-split #Action_bar .social-menu { padding: 12px 0; }
	
.header-stack {}
.header-stack #Header .top_bar_left { width: 100% !important; } /**/
.header-stack #Header .top_bar_left,
.header-stack #Header .top_bar_right { background-color: transparent; }
.header-stack #Top_bar { position: static; }
.header-stack #Top_bar .logo { width: 100%; margin: 0; padding: 0 30px; text-align: left; border-bottom-width: 1px; border-style: solid; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; } /**/

.header-stack.header-center #Top_bar .logo { text-align: center; }
.header-stack.header-right #Top_bar .logo { text-align: right; }

.header-stack #Top_bar .logo #logo { display: inline-block; height: auto; }  /**/
.header-stack #Top_bar .menu_wrapper { clear: both; }  /**/
.header-stack #Top_bar .menu_wrapper .menu > li > a { padding: 0; } /**/
.header-stack #Top_bar .menu > li > a span.description { margin-bottom:10px;}
.header-stack #Top_bar .top_bar_right { position: absolute; right: 0; bottom: -16px; top: auto; } /**/
.header-stack #Top_bar .top_bar_right:before { display: none; }
.header-stack #Top_bar .secondary_menu_wrapper { position: absolute; right: 20px; top: 35px; display: block; } /**/
.header-stack.header-right #Top_bar .secondary_menu_wrapper { left: 20px; right: auto; } /**/
.header-stack #Action_bar { position: static; }
.header-stack #Action_bar .contact_details li,
.header-stack #Action_bar .social,
.header-stack #Action_bar .social-menu { padding: 12px 0; }
body.header-stack:not(.template-slider) #Header { min-height: 315px; }

	.header-stack #Action_bar { background-color: #2C2C2C; }
	.header-stack #Top_bar { background-color: #fff; }
	
.header-magazine #Top_bar .logo { border: 0; }
.header-magazine #Top_bar .top_bar_right { display: none; }
.header-magazine #Top_bar .secondary_menu_wrapper { display: none; }
.header-magazine #Top_bar .banner_wrapper { display: block; position: absolute; right: 20px; top: 20px; width: 468px; height: 60px; text-align: right; }
.header-magazine #Top_bar .banner_wrapper a { display: block; line-height: 0; }
.header-magazine #Top_bar .banner_wrapper img { display: inline-block; max-width: 100%; height: auto; max-height: 60px; }


.header-simple {}
.header-simple #Action_bar { display: none; }
.header-simple #Top_bar .top_bar_left { width:100% !important; background:none;}
.header-simple #Top_bar:not(.is-sticky) .top_bar_left { top:-40px;}
.header-simple #Top_bar .top_bar_right,
.header-simple #Top_bar .top_bar_right:before { display: none; }
.header-simple #Top_bar .menu > li > a span.description { margin:0 0 0 5px;}

.header-empty #Header { position:static; min-height:0 !important;}
.header-empty #Subheader { display:none;}
.header-empty #Content { padding:0 !important;}

.header-transparent #Top_bar .top_bar_left,
.header-transparent #Top_bar .top_bar_right,
.header-transparent #Top_bar .top_bar_right:before { background:none;}
.header-transparent #Top_bar .top_bar_right { top:-15px;}
.header-transparent #Top_bar #logo { padding:0;}
.header-transparent #Top_bar a.responsive-menu-toggle { top:10px;}
.header-transparent #Top_bar .menu > li > a { padding:0;}
.header-transparent #Top_bar .menu > li > a:after { background:none;}
.header-transparent #Top_bar .menu > li > a span { border-color: rgba(0, 0, 0, 0.03);}
.header-transparent #Top_bar .menu li > ul:not(.mfn-megamenu-bg) { background-image:none;}

.header-overlay .top_bar_right { display:none;}
.header-overlay #Top_bar.is-sticky { display:none;}
.header-overlay .overlay-menu-toggle { position:absolute; right:30px; top:30px; font-size:30px; z-index:9911;}
.header-overlay .overlay-menu-toggle.focus { color:#fff; 
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.header-overlay .overlay-menu-toggle .close { display:none;}
.header-overlay .overlay-menu-toggle.focus .open { display:none;}
.header-overlay .overlay-menu-toggle.focus .close { display:block;}
.header-overlay.sticky-header .overlay-menu-toggle { position:fixed; margin-right:10px;}

/* #Overlay Menu
================================================== */
#Overlay { position:fixed; top:0; left:0; width:100%; height:100%; z-index:9910; background:rgba(41,145,214,.95); display:none;}
#overlay-menu { position:absolute; width:700px; left:50%; margin-left:-350px; top:50%; margin-top:-150px;}
#overlay-menu ul li { text-align:center;}
#overlay-menu ul li a { color:#fff; font-size:34px; line-height:52px; letter-spacing:3px; text-decoration:none;}
#overlay-menu ul li a:hover { opacity: .8;}

	#overlay-menu ul li a:before,
	#overlay-menu ul li a:after { display: inline-block; opacity: 0; -webkit-transition: -webkit-transform 0.3s, opacity 0.2s; -moz-transition: -moz-transform 0.3s, opacity 0.2s; transition: transform 0.3s, opacity 0.2s; }
	#overlay-menu ul li a:before {margin-right: 20px; content: '['; -webkit-transform: translateX(20px); -moz-transform: translateX(20px); transform: translateX(20px); }
	#overlay-menu ul li a:after { margin-left: 20px; content: ']'; -webkit-transform: translateX(-20px); -moz-transform: translateX(-20px); transform: translateX(-20px); }
	#overlay-menu ul li a:hover:before,
	#overlay-menu ul li a:hover:after,
	#overlay-menu ul li a:hover:before,
	#overlay-menu ul li a:hover:after { opacity: 1; -webkit-transform: translateX(0px); -moz-transform: translateX(0px); transform: translateX(0px); }


/* #Subheader
================================================== */
#Subheader { background-color: rgba(0,0,0, .02); background-position: center top; background-repeat:no-repeat; padding: 30px 0; position: relative; }
.subheader-transparent #Subheader { background:none; }
.hide-title-area #Subheader { display:none;}
#Subheader .column { margin-bottom: 0; }
#Subheader .title { margin-bottom: 0; width: 70%; float: left; }
#Subheader ul.breadcrumbs { display: block; width: 30%; margin: 1px 0 0; font-size: 1em !important; float: right; text-align: right; }
#Subheader ul.breadcrumbs li { display: inline-block; }
#Subheader ul.breadcrumbs li, #Subheader ul.breadcrumbs li a { color: rgba(0, 0, 0, .3); }
#Subheader ul.breadcrumbs li span { margin: 0 10px; opacity: 0.4; filter: alpha(opacity=40); }
#Subheader:after { content: ""; height: 3px; width: 100%; display: block; position: absolute; left: 0; bottom: -3px; z-index: 1; background: url(../images/box_shadow.png) repeat-x left top; }

#Subheader ul.woocommerce-breadcrumb li:last-child span { display: none; }

	/* subheader-style */
	.subheader-title-right #Subheader .title { float: right; text-align:right;}
	.subheader-title-right #Subheader .breadcrumbs { float: left; text-align:left;}
	
	.subheader-both-left #Subheader .title { width:100%;}
	.subheader-both-left #Subheader .breadcrumbs { width:100%; text-align:left; margin-top:10px;}
	
	.subheader-both-right #Subheader .title { width:100%; text-align:right;}
	.subheader-both-right #Subheader .breadcrumbs { width:100%; text-align:right; margin-top:10px;}
	
	.subheader-both-center #Subheader .title { width:100%; text-align:center;}
	.subheader-both-center #Subheader .breadcrumbs { width:100%; text-align:center; margin-top:10px;}


/* #Post
================================================== */
.post-item { margin-bottom: 40px; position: relative; float:left; width:100%; }
.post-item .date_label { position: absolute; left: 0; top: 7px; display: none; }
.post-photo-wrapper { width: 37%; float: left; }
.post-photo-wrapper iframe { width: 100%; }
.post-desc-wrapper { width: 63%; float: left; }
.post-desc { padding: 15px 0 0 20px; }

.format-standard.no-img .post-photo-wrapper { display:none; }
.format-standard.no-img .post-desc-wrapper,
.search-results .no-img .post-desc-wrapper { width:100%; }

	.post-meta { margin-bottom: 8px; }
	.post-meta .author-date { float: left; }
	.post-meta .author-date a { border-bottom-width: 1px; border-style: dotted; text-decoration: none !important; }
	.post-meta .category { float: right; position: relative; }
	.post-meta .category.mata-tags { margin-right:10px;}
	.post-meta .category .cat-btn { cursor: pointer; }
	.post-meta .category .cat-wrapper { position: absolute; right: 0; top: 100%; display: none; z-index: 21; }
	.post-meta .category:hover .cat-wrapper { display: block; }
	.post-meta .category .cat-wrapper ul { padding: 7px; min-width: 70px; background: #F9F9F9; }
	.post-meta .category .cat-wrapper ul li { border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
	.post-meta .category .cat-wrapper ul li:last-child { border-bottom: 0; }
	.post-meta .category .cat-wrapper ul li a { display: block; text-align: center; padding: 1px 5px; color: #8B8B8B; }
	.post-meta .category .cat-wrapper ul li a:hover { text-decoration: none; color: #5F5F5F; background: rgba(255, 255, 255, 0.8); }

	.post-excerpt { margin-bottom: 15px; }
	.cat_description { margin-bottom: 40px;}
	
	.post-footer { background: rgba(0,0,0,.02); padding: 7px 15px; overflow: hidden; line-height: 30px; }
	.post-footer .button-love { float: left; }
	.post-footer .button-love a.mfn-love { display: inline-block; position: relative; padding-left: 24px; margin-left: 5px; }
	.post-footer .button-love a.mfn-love i { position: absolute; left: 0; top: 0; font-size: 16px; }
	.post-footer .button-love a.mfn-love:hover { text-decoration: none; }
	.post-footer .button-love a.mfn-love i:last-child { opacity: 0; filter: alpha(opacity=0); -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
	.post-footer .button-love a:hover.mfn-love i:last-child,
	.post-footer .button-love a.loved.mfn-love i:last-child { opacity: 1; filter: alpha(opacity=100); }
	.post-footer .post-links { float: right; border-left-width: 1px; border-style: solid; padding-left: 10px; }
	.post-footer .post-links .post-comments { margin-right: 10px; }
	
	.hide-more .post-footer .post-links .icon-doc-text,
	.hide-more .post-footer .post-links .post-more { display:none;}
	.blog_slider.hide-more .item_wrapper .hr_color,
	.blog_slider.hide-more .item_wrapper .button { display:none;}
	
		/* Masonry */
		.masonry {}
		.masonry .post-item { width: 31.2%; margin: 0 1% 20px; background: #fff; }
		.masonry .post-photo-wrapper { width: 100%; float: none; }
		.masonry .post-desc-wrapper { width: 100%; float: none; }
		.masonry .post-desc-wrapper .post-desc { padding: 20px 20px 0; }
		.masonry .post-footer { margin: 0 -20px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
			.masonry .post-meta .author-date .author span { display: none; }
			.masonry .post-desc-wrapper .post-meta .category .cat-btn { display: none; }
			.masonry .post-desc-wrapper .post-footer .button-love .love-text { display: none; }
		
		/* Timeline */
		.timeline .post-item { float:none; width:auto; padding-left: 200px; margin-bottom: 0; padding-bottom: 40px; background: url(../images/timeline_right.png) no-repeat 90px top; }
		.timeline .post-item:last-child { padding-bottom: 20px; margin-bottom: 20px; }
		.timeline .format-quote .post-meta,
		.timeline .format-link .post-meta { padding-top: 7px; }
		.timeline .post-item:before { content: ""; width: 7px; height: 7px; border-width: 4px; border-style: solid; -webkit-border-radius: 100%; border-radius: 100%; position: absolute; left: 126px; top: 11px; display: block; visibility: visible; z-index: 1; }
		.timeline .date_label { display: block; }
		.timeline .post-meta .author-date .date{ display: none; }
	
	/* Post types =========================================== */

		.format-quote .post-photo-wrapper { display: none; }
		.format-quote .post-desc { padding: 0; }
		.format-quote .post-desc-wrapper { width: 100%; float: none; }
		
		.format-video {}
		.format-video .image_frame .image_wrapper img { margin-bottom: 0 !important; }
		.format-video .image_frame:hover .image_wrapper img { top: 0px; }
		
		.format-link .post-photo-wrapper { display: none; }
		.format-link .post-desc-wrapper { width: 100%; float: none; }
		.format-link .post-desc { padding: 0; }
		.format-link .post-title { overflow: hidden; }
		.format-link .post-title .icon-link { display: block; width: 80px; height: 80px; font-size: 60px; line-height: 80px; border-right-width: 1px; border-style: solid; float: left; text-align: center; }
		.format-link .post-title .link-wrapper { margin-left: 100px; padding-top: 14px; }
		.format-link .post-title .link-wrapper h4 { margin-bottom: 7px; font-size: 20px; line-height: 22px; }


/* #Single post
================================================== */
.section-portfolio-header{ background-image: url(../images/stripes/stripes_5_b.png); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; overflow: hidden;  }
.post-nav { padding: 10px 10px 4px 0; margin-bottom: 0; }
.post-nav .next-prev-nav { float: left; }
.post-nav .next-prev-nav li { float: left; margin-right: 5px; }
.post-nav .next-prev-nav a.button { margin: 0; }
.post-nav .list-nav { float: right; line-height: 49px; }

.section-portfolio-title{ margin-top: 20px; }
.post-header { margin-bottom: 20px; }
.post-header .button-love { width: 50px; float: left; text-align: center; }
.post-header .button-love a.mfn-love { display: inline-block; position: relative; padding-left: 28px; font-size: 17px; margin-top: 9px; }
.no-title .post-header .button-love a.mfn-love { margin-top: 0; }
.post-header .button-love a.mfn-love i { position: absolute; left: 0; top: 0; font-size: 18px; }
.post-header .button-love a.mfn-love:hover { text-decoration: none; }
.post-header .button-love a.mfn-love i:last-child { opacity: 0; filter: alpha(opacity=0); -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
.post-header .button-love a:hover.mfn-love i:last-child,
.post-header .button-love a.loved.mfn-love i:last-child { opacity: 1; filter: alpha(opacity=100); }
.post-header .title_wrapper { margin-left: 69px; border-left-width: 1px; border-style: solid; padding-left: 30px; }
.post-header .title_wrapper h1 { font-size: 35px; line-height: 35px; }

.single-photo-wrapper {}
.single-photo-wrapper .share_wrapper { float: left; }
.single-photo-wrapper .image_frame { margin-left: 130px; }
.no-share .single-photo-wrapper .image_frame { margin-left: 0px; }
.single-photo-wrapper .image_frame iframe { width: 100%; }
.format-image .single-photo-wrapper  { text-align: center; }
.format-image .single-photo-wrapper .image_frame { display: inline-block; margin-left: 0; }
	
	.share_wrapper { background: #fff; border-width: 1px; border-style: solid; width: 98px; text-align: center; padding: 10px 0 5px; }
	.share_wrapper .stButton { margin-bottom: 10px; }

.author-box {}
.author-box .avatar-wrapper { width: 64px; height: 64px; float: left; border-width: 8px; border-style: solid; display: block; line-height: 0; -webkit-border-radius: 100%; border-radius: 100%; overflow: hidden; }
.author-box .desc-wrapper { background: rgba(0,0,0,.02); padding: 20px; position: relative; margin-left: 105px; }
.author-box .desc-wrapper:after { content: ""; display: block; position: absolute; left: -6px; top: 35px; width: 0px; height: 0px; border-style: solid; border-width: 6px 6px 6px 0; border-color: transparent rgba(0,0,0,.02) transparent transparent; }
.author-box .desc-wrapper h5 { margin-bottom: 5px; }


/* Post related */
.section-post-related {}
.section-post-related .section-related-adjustment { border-top-width: 1px; border-style: solid; padding-top: 20px; }
.section-post-related .post-related { position: relative; }
.section-post-related .post-related .image_frame { margin-left: 30px; margin-bottom: 15px; }
.section-post-related .post-related .fullscreen-container { height:180px !important;}
.section-post-related .post-related .date_label { position: absolute; left: 0; top: 30px; z-index: 20; }
.section-post-related .post-related hr { margin-left: 30px; width: 40%; }
.section-post-related .post-related a.button { margin-left: 30px; margin-bottom: 0; }
	
	.section-post-related .format-quote blockquote { margin-top: 70px; margin-left: 40px; }
	.section-post-related .format-link {}
	.section-post-related .format-link .image_frame { height: 180px; background-color: rgba(255, 255, 255,.5); background-image: url("../images/link.png"); background-position: center center; background-repeat: no-repeat; }
	.section-post-related .format-standard.no-img .image_frame { display:block; height: 180px; background-color: rgba(255, 255, 255,.5); background-image: url("../images/photo.png"); background-position: center center; background-repeat: no-repeat; }

/* single-format-link */
.single-format-link .single-photo-wrapper .share_wrapper { float: none; width: auto; padding: 10px 15px 15px;  }
.single-format-link .single-photo-wrapper .share_wrapper .stButton { margin: 0 10px 0 0; }
.single-format-link .single-photo-wrapper .image_frame { display: none; }

/* single-format-quote */
.single-format-quote #Subheader .title { width: 100%; }
.single-format-quote #Subheader ul.breadcrumbs { display: none; }
.single-format-quote .single-photo-wrapper .share_wrapper { float: none; width: auto; padding: 10px 15px 15px;  }
.single-format-quote .single-photo-wrapper .share_wrapper .stButton { margin: 0 10px 0 0; }
.single-format-quote .single-photo-wrapper .image_frame { display: none; }

/* no-img */
.portfolio.no-img .single-photo-wrapper .share_wrapper,
.format-standard.no-img .single-photo-wrapper .share_wrapper { float: none; width: auto; padding: 10px 15px 15px; }
.portfolio.no-img .single-photo-wrapper .share_wrapper .stButton,
.format-standard.no-img .single-photo-wrapper .share_wrapper .stButton { margin: 0 10px 0 0; }
.portfolio.no-img .single-photo-wrapper .image_frame,
.format-standard.no-img .single-photo-wrapper .image_frame { display: none; }

/* Project decription */
.project-description {}
.project-description li { width: 99.9%; clear: both; padding: 7px 10px; background: rgba(0,0,0,.01); border-style: solid; border-color: rgba(0,0,0,.03); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.project-description li .label { font-weight: bold; min-width: 50px; display: inline-block; }
.project-description li.one-third { float: left; width: 33.3%; clear: none; padding-right: 15px; border-width: 0 1px 1px 0; }
.project-description li:nth-child(3) { border-right-color: transparent; }

/* Share Item | .share_item */
.share_item { float: none; width: auto; padding: 10px 15px 15px; }
.share_item .stButton { margin: 0 10px 0 0; }


/* #Widget area
================================================== */
.with_aside .four.columns { margin-bottom: 0; } 
.widget-area { border-style: solid; padding: 30px 0 20px; position: relative; }
body:not(.template-slider) .widget-area { margin-top: -30px; }
.widget-area:before { content: ""; display: block; position: absolute; top: 0; width: 1500px; height: 100%; background: rgba(0,0,0,.01); visibility: visible; }
	.aside_left .widget-area { border-right-width: 1px; padding-right: 25px; }
	.aside_left .widget-area:before { right: 0; }
	.aside_right .widget-area { border-left-width: 1px; padding-left: 25px; }
	.aside_right .widget-area:before { left: 0; }

.widget-area.lines-boxed .widget:after { width:100%;}
.widget-area.lines-hidden .widget:after { display:none;}

.widget { padding-bottom: 30px; margin-bottom: 30px; position: relative; }
.widget:last-child { margin-bottom: 0; padding-bottom: 0; }
.widget:last-child:after { display: none; }
.widget:after { content: ""; display: block; position: absolute; bottom: 0; width: 1500px; height: 0; visibility: visible; border-width: 1px 0 0 0; border-style: solid; }
.widget > h3 { font-size: 18px; line-height: 22px; }
	.aside_left .widget:after { right: 0; }
	.aside_right .widget:after { left: 0; }
	
	
.with_aside.aside_both .sidebar-1 .widget-area { border-right-width: 1px; padding-right: 25px; }
.with_aside.aside_both .sidebar-1 .widget-area:before { right: 0; }
.with_aside.aside_both .sidebar-1 .widget-area .widget:after { right: 0; }
.with_aside.aside_both .sidebar-2 .widget-area { border-left-width: 1px; padding-left: 25px; }
.with_aside.aside_both .sidebar-2 .widget-area:before { left: 0; }
.with_aside.aside_both .sidebar-2 .widget-area .widget:after { left: 0; }
	
	
	/* Recent posts */
	.Recent_posts {}
	.Recent_posts ul {}
	.Recent_posts ul li { margin-bottom: 10px; }
	.Recent_posts ul li:last-child { margin-bottom: 0; }
	.Recent_posts ul li a { text-decoration: none; }
	.Recent_posts ul li .desc { margin-right: 80px; padding: 5px 15px; background: #fff; position: relative; min-height: 70px; }
	.Recent_posts ul li .desc:after { content: ""; display: block; position: absolute; right: 0; top: 0; width: 4px; height: 100%; }
	.Recent_posts ul li .desc h6 { position: relative; z-index: 2; margin-bottom: 3px; padding-bottom: 3px; border-bottom-width: 1px; border-style: solid; }
	.Recent_posts ul li .desc .date { position: relative; z-index: 2; }
	.Recent_posts ul li .desc .date i { display: inline-block; margin-right: 2px; }
	.Recent_posts ul li.no-img { position: relative; }
	.Recent_posts ul li.no-img .photo { width: 0; position: static; }
	.Recent_posts ul li.no-img .desc { margin-right: 0; min-height: inherit; }
	.Recent_posts ul li .photo { width: 80px; height: 80px; line-height: 0; text-align: center; float: right; position: relative; }
	.Recent_posts ul li .photo .c { width: 25px; height: 25px; line-height: 25px; z-index: 3; text-align: center; color: #fff; position: absolute; right: -12px; bottom: 12px; font-size: 11px; -webkit-border-radius: 3px; border-radius: 3px; }
	
	.Recent_posts ul li a:hover h6,
	.Recent_posts ul li a:hover .desc .date { color: #fff !important; }
	.Recent_posts ul li a:hover .desc:after { width: 100%; }
	
		/* Link */
		.Recent_posts ul li.format-link .photo { background-color: #eee; background-image: url("../images/link.png"); background-position: center center; background-repeat: no-repeat; }
		.Recent_posts ul li.format-quote .photo { background-color: #eee; background-image: url("../images/blockquote.png"); background-position: center center; background-repeat: no-repeat; background-size: 40% auto; }
	
		/* Animation */
		.Recent_posts ul li a:hover h6,
		.Recent_posts ul li a:hover .desc .date,
		.Recent_posts ul li a:hover .desc:after { -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }

	/* Recent posts wordress */
	.widget_recent_entries {}
	.widget_recent_entries ul {}
	.widget_recent_entries ul li { padding: 5px 15px; background: #fff; position: relative; margin-bottom: 10px; }
	.widget_recent_entries ul li a { display: block; text-decoration: none; position: relative; z-index: 2; margin-bottom: 3px; padding-bottom: 3px; border-bottom-width: 1px; border-style: solid; }
	.widget_recent_entries ul li:last-child { margin-bottom: 0; }
	.widget_recent_entries ul li:after { content: ""; display: block; position: absolute; right: 0; top: 0; width: 4px; height: 100%; }
	.widget_recent_entries ul li:hover:after { width: 100%; }
	.widget_recent_entries ul li .post-date { display: block; position: relative; z-index: 2;  }

		.widget_recent_entries ul li:hover a,
		.widget_recent_entries ul li:hover .post-date { color: #fff; }
		/* Animation */
		.widget_recent_entries ul li:hover a,
		.widget_recent_entries ul li:hover .post-date,
		.widget_recent_entries ul li:hover:after { -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }

	/* Categories */
	.widget_categories {}
	.widget_categories ul { list-style-type: square; color: #fff; padding: 5px 10px 5px 30px; }
	.widget_categories ul li { position: relative; }
	.widget_categories ul li:after { content: ""; display: block; width: 70px; border-width: 0 0 1px 0; border-style: solid; border-color: rgba(255,255,255,.2); position: absolute; left: -30px; bottom: 0; }
	.widget_categories ul li:last-child:after { display: none; }
	.widget_categories ul li a { color: #fff !important; display: block; padding: 7px 0 7px 3px; }
	
	/* Archives, Custom menu */
	.widget_archive, .widget_nav_menu {}
	.widget_archive ul, .widget_nav_menu ul { list-style-type: square; padding: 5px 10px 5px 30px; background: rgba(0,0,0,.03); }
	.widget_archive ul li, .widget_nav_menu ul li { position: relative; }
	.widget_archive ul li:after, .widget_nav_menu ul li:after { content: ""; display: block; width: 70px; border-width: 0 0 1px 0; border-style: solid; border-color: rgba(0,0,0,.1); position: absolute; left: -30px; bottom: 0; }
	.widget_archive ul li:last-child:after, .widget_nav_menu ul li:last-child:after { display: none; }
	.widget_archive ul li a, .widget_nav_menu ul li a { display: block; padding: 8px 0 9px 3px; }
	
	/* Meta, Pages, RSS */
	.widget_meta, .widget_pages, .widget_rss {}
	.widget_meta ul, .widget_pages ul, .widget_rss ul { list-style-type: square;  padding: 0 0 0 30px; }
	.widget_meta ul li, .widget_pages ul li, .widget_rss ul li {}
	.widget_meta ul li a, .widget_pages ul li a, .widget_rss ul li a { display: block; padding: 4px 0 7px 4px; }
	
	/* Recent comments */
	.widget_mfn_recent_comments {}
	.widget_mfn_recent_comments ul {}
	.widget_mfn_recent_comments ul li { padding-bottom: 15px; background: url(../images/recent_comments.png) no-repeat 4px top; padding-left: 40px; position: relative; }
	.widget_mfn_recent_comments ul li:last-child { padding-bottom: 5px; }
	.widget_mfn_recent_comments ul li .date_label { background-color: rgba(0,0,0,.03); margin-top: 7px; margin-bottom: 5px; position: relative; }
	.widget_mfn_recent_comments ul li .date_label:after { border-left-color: rgba(0,0,0,.03); }
	.widget_mfn_recent_comments ul li:after { content: ""; width: 7px; height: 7px; border-width: 4px; border-style: solid; -webkit-border-radius: 100%; border-radius: 100%; position: absolute; left: 0px; top: 11px; display: block; z-index: 1; }
	.widget_mfn_recent_comments ul li p { margin-bottom: 0; }

	/* Recent comments wordpress */
	.widget_recent_comments {}
	.widget_recent_comments ul li { padding-bottom: 5px; padding-top: 6px; background: url(../images/recent_comments.png) no-repeat 4px top; padding-left: 40px; position: relative; }
	.widget_recent_comments ul li:last-child { padding-bottom: 5px; }
	.widget_recent_comments ul li:after { content: ""; width: 7px; height: 7px; border-width: 4px; border-style: solid; -webkit-border-radius: 100%; border-radius: 100%; position: absolute; left: 0px; top: 11px; display: block; z-index: 1; }

	/* Search */
	.widget_search {}
	.widget_search input[type="text"] { margin-bottom: 0; width: 100%; }
	.widget_search input[type="submit"] { display: none; }
	
	/* Calendar */
	.widget_calendar td, .widget_calendar th { padding: 4px 3px; } 
	.widget_calendar caption { padding: 5px; font-size: 14px; }
	.widget_calendar table tfoot tr:hover td { background: none !important; }
	
	/* Flickr */
	.Flickr { overflow: hidden; }
	.Flickr .flickr_badge_image { margin: 0; padding: 0; float: left; margin: 0 1% 2% 1%; width: 23%; }
	.Flickr .flickr_badge_image a { display: block; line-height: 0;  }
	
	/* Recent tweets */
	.widget_tp_widget_recent_tweets {}
	.widget_tp_widget_recent_tweets .tp_recent_tweets { clear: none; float: none; }
	.widget_tp_widget_recent_tweets ul { overflow: hidden; }
	.widget_tp_widget_recent_tweets ul li:last-child { padding-bottom: 0; }
	
	/* Tag cloud */
	.widget_mfn_tag_cloud {}
	.widget_mfn_tag_cloud ul { margin-bottom: 0; overflow: hidden; }
	.widget_mfn_tag_cloud ul li {margin: 0; padding: 0; float: left; margin: 0 5px 2px 0; }
	.widget_mfn_tag_cloud a { overflow: hidden; white-space: nowrap; display: inline-block; height: 22px; text-shadow: 1px 1px 0 #fff; font-size: 12px; padding-right: 8px; margin-right: 1px; }
	.widget_mfn_tag_cloud a:hover { text-decoration: none; }
	.widget_mfn_tag_cloud a span { padding-left: 8px; height: 22px; line-height: 22px; display: block; float: left; }

	/* Muffin menu */
	.widget_mfn_menu {}
	.widget_mfn_menu ul li a { display: block; padding: 7px 10px; margin-bottom: 5px; background: #fff; border: 1px solid rgba(0,0,0,.04); color: #858585; }
	.widget_mfn_menu ul li a:hover,
	.widget_mfn_menu ul li.current_page_item a { text-decoration: none; color: #fff !important; }
	.widget_mfn_menu ul li ul li a { padding-left:20px;}
	.widget_mfn_menu ul li ul li a:before { content:"-"; margin-right:5px;}
	.widget_mfn_menu ul li ul li ul li a { padding-left:40px;}

		/* Animation */
		.widget_mfn_menu ul li a { -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }

	/* Muffin login */
	.mfn-login { overflow:hidden;}
	.mfn-login form p { margin-bottom:5px;}
	.mfn-login form input { margin-bottom:0;}
	.mfn-login .sep { margin:0 7px;}
	.mfn-login .avatar-wrapper { float:left; width:64px; margin:0 10px 10px 0;}
	.mfn-login .author { float:left; }
	.mfn-login .alert { padding:5px 10px; margin-bottom:5px;}
	

/* #Portfolio
================================================== */
.portfolio_group { margin:0 !important;}
.portfolio_group .portfolio-item { list-style:none !important; float:left;}

.portfolio_group:not(.list) .portfolio-item { background: none !important; }
.portfolio_group .portfolio-item .list_style_header { display: none; overflow: hidden; margin-bottom: 20px; position: relative; min-height: 43px; padding-right: 275px; }
.portfolio_group .portfolio-item .list_style_header h3 { margin-bottom: 0; margin-top: 7px; }
.portfolio_group .portfolio-item .list_style_header .links_wrapper { position: absolute; right: 0; top: 0; }
.portfolio_group .portfolio-item .list_style_header .links_wrapper a { margin-bottom: 0; } 
.portfolio_group .portfolio-item .list_style_header .links_wrapper a:last-child { margin-right: 0; }
.portfolio_group .portfolio-item:first-child .list_style_header .links_wrapper a.portfolio_prev_js { display: none; }
.portfolio_group .portfolio-item:last-child .list_style_header .links_wrapper a.portfolio_next_js { display: none; }

.portfolio_group .portfolio-item .image_frame { width: 100%; }

.portfolio_group .portfolio-item .desc { padding: 20px; background: #fff; overflow: hidden; }
.portfolio_group .portfolio-item .desc .title_wrapper { position: relative; padding-right: 43px; }
.portfolio_group .portfolio-item .desc .title_wrapper h5 { margin-bottom: 0; }
.portfolio_group .portfolio-item .desc .title_wrapper .button-love { position: absolute; right: 0; top: 0; }
.portfolio_group .portfolio-item .desc .title_wrapper .button-love a.mfn-love { display: inline-block; position: relative; padding-left: 24px;}
.portfolio_group .portfolio-item .desc .title_wrapper .button-love a.mfn-love i { position: absolute; left: 0; top: 0; font-size: 16px; }
.portfolio_group .portfolio-item .desc .title_wrapper .button-love a.mfn-love:hover { text-decoration: none; }
.portfolio_group .portfolio-item .desc .title_wrapper .button-love a.mfn-love i:last-child { opacity: 0; filter: alpha(opacity=0); -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
.portfolio_group .portfolio-item .desc .title_wrapper .button-love a:hover.mfn-love i:last-child,
.portfolio_group .portfolio-item .desc .title_wrapper .button-love a.loved.mfn-love i:last-child { opacity: 1; filter: alpha(opacity=100); }
.portfolio_group .portfolio-item .desc .desc-wrapper { margin-right: 280px; }
.portfolio_group .portfolio-item .desc .details-wrapper { float: right; width: 240px; padding-left: 19px; border-left-width: 1px; border-style: solid; }
.portfolio_group .portfolio-item .desc .details-wrapper dl { margin-bottom: 0; }
.portfolio_group .portfolio-item .desc .details-wrapper dl > dt { padding: 2px 0; border: 0; width: 80px; }
.portfolio_group .portfolio-item .desc .details-wrapper dl > dd { padding: 2px 0; border: 0; margin-left: 90px; }
	
	/* List */
	.portfolio_group.list .portfolio-item { width: 100%; border-bottom-width: 0px; border-style: solid; }
	.portfolio_group.list .portfolio-item .portfolio-item-fw-bg { background-position: top center; background-repeat: repeat; padding: 35px 0; }
	body:not(.with_aside) .portfolio_group.list .portfolio-item .portfolio-item-fw-wrapper { width: 1176px; margin: 0 auto; }
	.portfolio_group.list .portfolio-item .list_style_header { display: block; }
	.portfolio_group.list .portfolio-item .desc { background: none; padding: 20px 0 0; }
	.portfolio_group.list .portfolio-item .desc .title_wrapper { display: none; }
	
	/* Flat */
	.portfolio_group.flat .portfolio-item { width: 33.3%; }
	.portfolio_group.flat .portfolio-item .image_frame { border: 0; }
	.portfolio_group.flat .portfolio-item .image_frame .mask { box-shadow: 0 0 0 0; -webkit-box-shadow: 0 0 0 0; }
	.portfolio_group.flat .portfolio-item .desc { display: none; }
	
	.portfolio_group.flat.col-4 .portfolio-item { width: 24.99%; }
	
	/* Grid */
	.portfolio_group.grid .portfolio-item { width: 31.2%; margin: 0 1% 20px; }
	.portfolio_group.grid .portfolio-item .desc .desc-wrapper,
	.portfolio_group.grid .portfolio-item .desc .details-wrapper { display: none; }
	
	/* Masonry */
	.portfolio_group.masonry .portfolio-item { width: 31.2%; margin: 0 1% 20px; }
	.portfolio_group.masonry .portfolio-item .desc .title_wrapper { margin-bottom: 15px; }
	.portfolio_group.masonry .portfolio-item .desc .desc-wrapper { display: block; margin-right: 0; }
	.portfolio_group.masonry .portfolio-item .desc .details-wrapper { display: none; }
	
	/* Masonry Flat */
	.portfolio_group.masonry-flat .portfolio-item { width: 24.99%; }
	.portfolio_group.masonry-flat .portfolio-item.wide { width:49.99%;}
	.portfolio_group.masonry-flat .portfolio-item.tall { margin-bottom:-1px;}
	.portfolio_group.masonry-flat .portfolio-item .image_frame { border: 0; }
	.portfolio_group.masonry-flat .portfolio-item .image_frame .mask { box-shadow: 0 0 0 0; -webkit-box-shadow: 0 0 0 0; }
	.portfolio_group.masonry-flat .portfolio-item .image_frame img { margin:0 !important; top:0 !important; }
	.portfolio_group.masonry-flat .portfolio-item .desc { display: none; }

.section_wrapper .portfolio_wrapper .column.one.pager_wrapper { margin: 40px 0 !important; }

.template-slider .section-portfolio-header { margin-top:30px;}

/* #Filters
================================================== */

/* #Footer
================================================== */
#Footer { background-position: center top; background-repeat:no-repeat;}

	#Footer .footer_action { background: rgba(0,0,0,.1); }
	#Footer .footer_action .one { margin-bottom: 30px; padding-top: 30px; text-align: center; font-size: 110%; line-height: 180%; }
	
	#Footer .widgets_wrapper { padding: 15px 0; }
	#Footer .widgets_wrapper .column { margin-bottom: 0; }
	#Footer .widgets_wrapper .widget { padding: 15px 0; margin-bottom: 0; }
	#Footer .widgets_wrapper .widget:after { display: none; }
	
	#Footer .footer_copy { border-top: 1px solid rgba(255,255,255,.1); }
	#Footer .footer_copy .one { margin-bottom: 20px; padding-top: 30px;  }
	
		#Footer .footer_copy .copyright { float: left; }

		#Footer .footer_copy a#back_to_top { float: right; margin: -10px 0 0 0; }
		
		#Footer .footer_copy .social { float: right; margin-right: 20px; }
		#Footer .footer_copy .social li { display: inline-block; margin-right: 6px; }
		#Footer .footer_copy .social li:last-child { margin-right: 0px; }
		#Footer .footer_copy .social li a { color: rgba(255,255,255,.3); font-size: 15px; line-height: 15px; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;  }
		#Footer .footer_copy .social li a:hover { color: rgb(255,255,255); }
		
		#Footer .footer_copy .social-menu { float: right; margin-right: 20px; }
		#Footer .footer_copy .social-menu li { display: inline-block; margin-right: 6px; padding-right: 6px; border-right: 1px solid rgba(255,255,255,.1); }
		#Footer .footer_copy .social-menu li:last-child { margin-right: 0px; padding-right: 0px; border-right: 0px; }
		
		/* .footer-copy-center */
		.footer-copy-center #Footer .footer_copy { text-align: center; }
		.footer-copy-center #Footer .footer_copy .copyright { float: none; margin: 0 0 10px 0; }
		.footer-copy-center #Footer .footer_copy a#back_to_top { float: none; margin: -10px 0 10px; }
		.footer-copy-center #Footer .footer_copy .social { float: none; margin: 0; }
		.footer-copy-center #Footer .footer_copy .social-menu { float: none; margin: 0; }
		
	/* Widgets */
	#Footer .Recent_posts ul li .desc { background: rgba(0,0,0,.1); }
	#Footer .widget_mfn_menu ul li a { background: rgba(0,0,0,.1); color: #ccc; }
	#Footer .widget_recent_entries ul li { background: rgba(0,0,0,.1); }
	
	#Footer ul.list_mixed li:after, 
	#Footer ul.list_check li:after, 
	#Footer ul.list_star li:after, 
	#Footer ul.list_idea li:after { background: rgba(255,255,255,.08); }
	
	#Footer .widget_mfn_recent_comments ul li .date_label { background-color: rgba(0,0,0,.07); }
	#Footer .widget_mfn_recent_comments ul li .date_label:after { border-left-color: rgba(0,0,0,.07); }
	
	#Footer .widgets_wrapper{ padding: 20px 0; }
	#Footer .widgets_wrapper h1{
		text-align: center;
		font-weight: 600;
		text-transform: uppercase;
	}

	#Footer .widgets_wrapper h4{
		text-align: center;
	}
	
/* .footer-sliding
================================================== */
.footer-fixed #Header_wrapper,
.footer-sliding #Header_wrapper { z-index: 29; }
.footer-fixed #Content,
.footer-sliding #Content { position:relative; z-index: 2; }
.footer-fixed #Footer,
.footer-sliding #Footer { position: fixed; width: 100%; bottom: 0; left: 0; z-index: 1; }
.footer-fixed #Footer { z-index: 3; }


/* #Comments
================================================== */
.comments { margin-bottom: 0; }
#comments > :first-child { border-top-width: 1px; border-style: solid; padding-top: 20px;}
.page #comments > :first-child { margin-top: 20px;}
#comments .commentlist { margin-left: 0; list-style-type: none; }
#comments .commentlist > li { margin-bottom: 30px; }
#comments .commentlist > li .comment-body { position: relative; background: #fff; padding: 20px 20px 20px 20px; margin-bottom: 20px; margin-left: 105px; }
#comments .commentlist > li .comment-body:after { content: ""; display: block; position: absolute; left: -6px; top: 35px; width: 0px; height: 0px; border-style: solid; border-width: 6px 6px 6px 0; border-color: transparent #fff transparent transparent; }
#comments .commentlist > li .children { margin-bottom: 15px; padding-left: 40px; border-left: 1px solid #ddd; }
#comments .commentlist > li .photo { display: block; width: 64px; height: 64px; overflow: hidden; line-height: 0; position: absolute; left: -105px; top: 0px; border-width: 8px; border-style: solid; -webkit-border-radius: 100%; border-radius: 100%; }
#comments .commentlist > li .comment-author { font-size: 15px; color: #444; }
#comments .commentlist > li .comment-author a {}
#comments .commentlist > li .comment-author .fn { font-weight: bold; }
#comments .commentlist > li .comment-meta { font-size: 12px; font-style: italic; }
#comments .commentlist > li .comment-meta a {}
#comments .commentlist > li .comment-meta a.comment-edit-link { float: right; padding-right: 52px; position: relative; top: -19px; }
#comments .commentlist > li p { margin: 4px 0 10px; }
#comments .commentlist > li .reply { position: absolute; right: 20px; top: 20px; }
#comments .commentlist > li .reply a.comment-reply-link {font-size: 11px; color: #fff; padding: 3px 6px; -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 3px; background-image: url(../images/stripes/stripes_10_w.png); }
#comments .commentlist > li .reply a:hover.comment-reply-link { text-decoration: none; }
#comments .commentlist li {}
#comments .commentlist li .comment-body {}
#comments .commentlist li .comment-body.last {}
#comments .commentlist li .comment-body.lastBorder { border-bottom: 0; }
#comments .commentlist .children { margin-bottom: 0px; margin-left: 30px; padding-left: 50px; }
#comments .commentlist .children li { margin-bottom: 0; }
#comments #comments-title { margin-bottom: 20px; }
#comments #comments-title span { font-style: italic; }


/* #Respond
================================================== */
#respond { overflow: hidden; margin-bottom: 40px; }
#respond .comment-reply-title { font-size: 21px; line-height: 25px; }
#respond p { margin-bottom: 15px; padding-left: 0 !important; }
#respond .comment-notes .required { position: static; }
#respond input[type="text"] { margin-bottom: 0; }
#respond label { margin-bottom: 3px;  }
#respond .required { position: absolute; right: 20px; top: 40px; }
#respond .comment-form-author { width: 31.3%; margin-right: 2% !important; float: left; position: relative; }
#respond .comment-form-email { width: 31.3%; margin-right: 2% !important; float: left; position: relative; }
#respond .comment-form-url { width: 33.3%; float: left; position: relative; }
#respond input[type="text"], #respond input[type="password"], #respond input[type="email"], #respond select { width: 100%; }
#respond .comment-form-comment { width: 100%; }
#respond .comment-form-comment textarea { width: 100%; margin-bottom: 10px; }
#respond .form-submit { overflow: hidden; margin: 0; }
#respond .form-submit input[type="submit"] { float: right !important; margin: 0 !important; }
#respond .form-allowed-tags { display:none;}
#respond .form-allowed-tags code { margin-top: 10px; }

/* #Error_404
================================================== */
body.error404 { height: 100%; }
body.error404.custom-404,
body.error404.events-archive { height: auto; }
body.error404:not(.events-archive) #Content { padding:0 !important;}
#Error_404 { overflow: hidden; position: absolute; top: 50%; margin-top: -150px; left: 30px; }
#Error_404 .error_pic { width: 30%; float: left; text-align: center; }
#Error_404 .error_pic i { font-size: 250px; line-height: 250px; }
#Error_404 .error_desk { width: 70%; float: left; padding-top: 40px; }
#Error_404 .error_desk h2 { font-size: 45px; line-height: 45px; color: rgba(0, 0, 0, .7); }
#Error_404 .error_desk h4 { font-size: 26px; line-height: 30px; color: rgba(0, 0, 0, .7); }
#Error_404 .error_desk p .check { line-height: 45px; font-size: 16px; color: rgba(0, 0, 0, .5); }
#Error_404 .error_desk p em { font-style: italic; font-size: 17px; font-family: Georgia, serif; padding: 0 15px; }
#Error_404 .error_desk p .button { margin: 0; display: inline; margin-left: 20px; }

/* #Contact form
================================================== */
.wpcf7-form .column { margin-bottom: 10px; }

.wpcf7-not-valid-tip { position: absolute !important; left: -50px !important; top: 0 !important; width: 50px !important; height: 44px !important; padding: 0 !important; background: url("../images/contact_form_error.png") !important; overflow: hidden; text-indent: -9999px !important; padding: 0; border: none !important; }
.wpcf7-validation-errors { border: 0; display: none !important; }
.wpcf7-mail-sent-ok { border: none !important; margin: 25px 0 0 0 !important; padding: 7px 0 !important; background: #7DCC68 !important; color: #fff; font-size: 14px; text-align: center; float:left; width:100%;}

.wpcf7-captchar { margin-bottom: 0; }

span.wpcf7-form-control-wrap { width: 100%; position: relative !important; display: inline-block; margin-bottom: 3px; }
span.wpcf7-form-control-wrap .wpcf7-quiz,
span.wpcf7-form-control-wrap .wpcf7-select,
span.wpcf7-form-control-wrap .wpcf7-text,
span.wpcf7-form-control-wrap .wpcf7-textarea { width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-bottom: 0; }

.wpcf7-submit { margin-bottom: 0 !important; }

#popup_contact { position: fixed; right: 20px; bottom: 15px; z-index: 9001; }
.nice-scroll #popup_contact { right: 30px;}
#popup_contact > a.button { width: 45px; height: 45px; line-height: 45px; font-size: 20px; margin:0;  text-align: center; color:rgba(0,0,0,.5); background:#f7f7f7;}
#popup_contact > a.button:hover { text-decoration: none; }
#popup_contact .popup_contact_wrapper { width: 250px; padding: 20px; background: #fbfbfb; position: absolute; bottom: 65px; right: 0; display: none; }
#popup_contact.focus .popup_contact_wrapper { display: block; }
#popup_contact .popup_contact_wrapper span.arrow { position: absolute; right: 15px; bottom: -8px; margin: 0 auto; width: 0px; height: 0px; display: block; border-top: 8px solid #fbfbfb; border-right: 8px solid transparent; border-left: 8px solid transparent; }

#popup_contact .popup_contact_wrapper form {}
#popup_contact .popup_contact_wrapper form input[type="text"], #popup_contact .popup_contact_wrapper form input[type="email"], #popup_contact .popup_contact_wrapper form textarea { background: #fff; margin-bottom: 10px;  }
#popup_contact .popup_contact_wrapper form textarea { resize:vertical; min-height: 100px; }
#popup_contact .popup_contact_wrapper form input[type="submit"] { margin: 0; float: right; }

#popup_contact .wpcf7-form.invalid > p:after { display: block; }
#popup_contact .wpcf7-form-control-wrap { display: inline-block; margin-right: 0; width: 100%; }
#popup_contact div.wpcf7 img.ajax-loader { margin-top: 10px; }

/* #Preloader
================================================== */
.portfolio_slider_ul,
ul.testimonials-slider {
    background: url("../images/preloader.gif") no-repeat center center;
}
.portfolio_slider_ul li,
ul.testimonials-slider > * {
    visibility: hidden;
}
ul.testimonials-slider {
    max-height: 260px;
}
.caroufredsel_wrapper .portfolio_slider_ul,
ul.owl-carousel {
    background: none;
    max-height: none;
}
.caroufredsel_wrapper .portfolio_slider_ul li,
ul.owl-carousel > * {
    visibility: visible;
}


/* #bbPress
================================================== */
.bbpress #Subheader .title { width: 60%; }
.bbpress #Subheader ul.breadcrumbs { width: 40%; }
.bbpress #Subheader ul.breadcrumbs .bbp-breadcrumb-current { margin: 0; }

.bbpress #bbpress-forums div.bbp-search-form { float: none; width: 100%; margin-bottom: 20px; }
.bbpress #bbpress-forums #bbp-search-form #bbp_search { width: 100%; margin: 0px; }
.bbpress #bbpress-forums div.bbp-topic-tags { clear: both; margin-bottom: 20px; }
.bbpress #bbpress-forums div.bbp-topic-tags p { margin: 0; }

	/* Search */
	.bbpress .widget_display_search .screen-reader-text { display: none; }
	.bbpress .widget_display_search #bbp_search { margin: 0; }
	
	/* Login */
	.bbpress .bbp_widget_login .bbp-logged-in h4 { font-size: 14px; font-weight: normal; }
	.bbpress .bbp_widget_login .bbp-logged-in a.button { margin: 0; }

	/* Display views & Display forums */
	.bbpress .widget_display_views, .bbpress .widget_display_forums {}
	.bbpress .widget_display_views ul, .bbpress .widget_display_forums ul { list-style-type: square;  padding: 0 0 0 30px; }
	.bbpress .widget_display_views ul li, .bbpress .widget_display_forums ul li {}
	.bbpress .widget_display_views ul li a, .bbpress .widget_display_forums ul li a { display: block; padding: 4px 0 7px 4px; }
	
	
/* #BuddyPress
================================================== */
#buddypress { margin-bottom:40px;}

#buddypress #whats-new-options { height: auto !important; overflow: visible !important;}

#buddypress div.dir-search { margin:0;}
#buddypress #search-members-form > * { float:left;}
#buddypress div.dir-search input[type="text"], 
#buddypress li.groups-members-search input[type="text"] { padding:2px 3px; font-size:100%; margin-right:5px; font-weight:normal;}

#buddypress div#subnav.item-list-tabs ul li > * { float:left;}
#buddypress div#subnav.item-list-tabs ul li label { margin:10px 5px 0 0; font-weight:normal;}

#buddypress div#item-header div#item-meta { font-size:100%;}


/* #tribe-events
================================================== */
.tribe-events-page-template #Subheader .title { width: 60%; }
.tribe-events-page-template #Subheader ul.breadcrumbs { width: 40%; }

#tribe-bar-views .tribe-bar-views-list { z-index: 29; }

#tribe-bar-form input[type="text"] { font-weight: normal; }
h2.tribe-events-page-title,
#tribe-geo-results h2.tribe-events-page-title { font-weight: normal; }
.tribe-events-list-separator-month { font-weight: normal; }
#tribe-events-content .tribe-events-tooltip h4 { font-weight: normal; }
.tribe-events-meta-group .tribe-events-single-section-title { font-weight: normal; }

.events-list .tribe-events-loop, 
.tribe-events-day .tribe-events-loop, 
.single-tribe_venue .tribe-events-loop, 
.single-tribe_organizer .tribe-events-loop { max-width: 100%; }

a.tribe-events-ical { margin-top: 0; }
.tribe-events-cal-links a.tribe-events-gcal { margin-top: 0; }

.single-tribe_events #tribe-events-content .tribe-events-event-meta dt { clear: left; font-weight: bold; line-height: inherit; }
.single-tribe_events #tribe-events-content .tribe-events-event-meta dd { float: inherit; line-height: inherit; list-style: none outside none; margin: 0 0 0 110px; padding: 10px 0; }
.single-tribe_events #tribe-events-content .tribe-events-event-meta dd:after { display: none; }

#tribe-bar-form { background-image: url(../images/stripes/stripes_5_b.png); }
.tribe-events-back { padding: 15px 10px; margin-bottom: 20px; background-image: url(../images/stripes/stripes_5_b.png); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; overflow: hidden; }

ul.tribe-events-sub-nav a,  .tribe-events-back a { font-size: 14px; font-weight: normal; }

.tribe-events-event-image { border: 8px solid #f8f8f8; box-sizing: border-box; display: block; line-height: 0; }

	/* Widgets */
	.tribe-events-list-widget {}
	.tribe-events-list-widget ol { padding: 10px 0 0 30px; }
	.tribe-events-list-widget ol li { margin-bottom: 20px; list-style-type: square; padding-left: 4px; }
	.tribe-events-list-widget ol li:before { display: none; }
	.tribe-events-list-widget ol li h4 { font-size: 16px; line-height: 20px; margin-bottom: 5px; }
	.tribe-events-list-widget ol li .duration { font-weight: normal; color: rgba(0,0,0,.4); }
	.tribe-events-list-widget p.tribe-events-widget-link { margin-left: 30px; padding-top: 8px; border-top: 1px solid rgba(0, 0, 0, 0.08); }
	.tribe-events-list-widget p.tribe-events-widget-link a { font-weight: normal; font-size: 13px; }

	/* Colors */
	.tribe-events-list-separator-month span { background: #fcfcfc; }
	.tribe-events-event-meta,
	.tribe-events-promo { color: #a8a8a8; }
	.tribe-events-calendar thead th { color: #444; }
	.tribe-events-calendar thead th { border-color: rgba(0, 0, 0, 0.08); }


/* #Dark
================================================== */
.dark, .dark ul.timeline_items, .dark .icon_box a .desc, .dark .icon_box a:hover .desc, .dark .feature_list ul li a, 
.dark .list_item a, .dark .list_item a:hover, .dark .widget_recent_entries ul li a { color: #fff !important; }

.dark .ui-tabs .ui-tabs-panel,
.dark .accordion .question .answer { color: #626262; }

/* Headings font */
.dark h1, .dark h1 a, .dark h1 a:hover { color: #fff; }
.dark h2, .dark h2 a, .dark h2 a:hover { color: #fff; }
.dark h3, .dark h3 a, .dark h3 a:hover { color: #fff; }
.dark h4, .dark h4 a, .dark h4 a:hover { color: #fff; }
.dark h5, .dark h5 a, .dark h5 a:hover { color: #fff; }
.dark h6, .dark h6 a, .dark h6 a:hover, .dark a.content_link .title { color: #fff; }

/* Borders */
.dark .idea_box, .dark table th, .dark table td, .dark .list_item .circle, .dark
input[type="text"], .dark input[type="tel"], .dark input[type="password"], .dark input[type="email"], .dark textarea, .dark select, .dark .promo_box.has_border:after, .dark
dl > dt, .dark dl > dd, .dark .article_box .desc_wrapper p, .dark a.icon_bar, .dark a.content_link, .dark .how_it_works .image, .dark .opening_hours, .dark .opening_hours .opening_hours_wrapper li, .dark
.icon_box.has_border:after, .dark .chart_box:before, .dark .pricing-box, .dark .team_list .bq_wrapper, .dark .post-footer .post-links, .dark .format-link .post-title .icon-link, .dark
.share_wrapper, .dark .post-header .title_wrapper, .dark .section-post-related .section-related-adjustment, .dark .comments, .dark .widget-area, .dark .widget:after, .dark
.fixed-nav .desc h6, .dark .portfolio_group.list .portfolio-item, .dark .portfolio_group .portfolio-item .desc .details-wrapper, .dark .Recent_posts ul li .desc h6, .dark
.widget_recent_entries ul li a, .dark .woocommerce .widget_best_sellers li, .dark .woocommerce .widget_featured_products li, .dark .woocommerce .widget_recent_reviews li, .dark 
.woocommerce .widget_recent_products li, .dark .woocommerce .widget_recently_viewed_products li, .dark .woocommerce .widget_random_products li, .dark .woocommerce .widget_top_rated_products li, .dark
.woocommerce .widget_onsale li, .dark .woocommerce .widget_layered_nav li, .dark .woocommerce .widget_shopping_cart ul.product_list_widget li, .dark
.woocommerce .widget_products li, .dark .woocommerce .product .related.products, .dark .woocommerce .product div.entry-summary h1.product_title:after, .dark
.woocommerce .quantity input.qty {
	border-color: rgba(255,255,255,.08);
}

/* Grey */
.dark .blockquote p.author span, .dark .counter .desc_wrapper .title, .dark .article_box .desc_wrapper p, .dark .team .desc_wrapper p.subtitle, .dark 
.pricing-box .plan-header p.subtitle, .dark .pricing-box .plan-header .price sup.period, .dark .chart_box p, .dark .fancy_heading .inside, .dark
.fancy_heading_line .slogan, .dark .post-meta, .dark .post-meta a, .dark .post-footer, .dark .post-footer a span.label, .dark .pager .pages a, .dark .button-love a .label, .dark
.pager-single a, .dark #comments .commentlist > li .comment-author .says, .dark .fixed-nav .desc .date, .dark .filters_buttons li.label, .dark .Recent_posts ul li a .desc .date, .dark
.widget_recent_entries ul li .post-date, .dark .tp_recent_tweets .twitter_time, .dark .widget_price_filter .price_label, .dark .shop-filters .woocommerce-result-count, .dark
.woocommerce ul.product_list_widget li .quantity, .dark .widget_shopping_cart ul.product_list_widget li dl, .dark .product_meta .posted_in, .dark
.woocommerce .shop_table .product-name .variation > dd, .dark .shipping-calculator-button:after, .dark  .shop_slider .shop_slider_ul li .item_wrapper .price del, .dark
.testimonials_slider .testimonials_slider_ul li .author span, .dark .testimonials_slider .testimonials_slider_ul li .author span a {
	color: #DEDEDE;
}

/* Dividers */
.dark hr {
	background-color: rgba(255,255,255,.08);
	color: rgba(255,255,255,.08);
}

/* Others */
.dark blockquote { color: #fff; }
.dark .article_box .desc_wrapper h4 { color: #444; }
.dark .progress_bars .bars_list li h6 .label { color: rgba(255, 255, 255, 0.35); background: rgba(255, 255, 255, 0.05); }
.dark .faq .question .title { color: #fff; }
.dark .counter .desc_wrapper .number { color: #fff; }
.dark a.content_link .title { color: #444; }
.dark .opening_hours,
.dark .opening_hours h3 { color: #444444; }
.dark .Recent_posts ul li .desc { background: rgba(0,0,0,.1); }

/* Pricing box */
.dark .pricing-box-box { background: rgba(0, 0, 0, 0.1); }
.dark .pricing-box .plan-inside ul li { border-bottom: 1px solid rgba(255, 255, 255, 0.1); }

/* Lists */
.dark .column_column ul, 
.dark .column_column ol, 
.dark .the_content_wrapper ul, 
.dark .the_content_wrapper ol { color: #fff; }

/* List item */
.dark .list_item.lists_2 .list_icon i { color: #fff; } 

/* Pricing table */
.dark .pricing-box-table.pricing-box-featured { background: rgba(0,0,0,.1);  }
.dark .pricing-box .plan-header .price sup.period { color: rgba(255, 255, 255, 0.5) !important; }

/* Call to action */
.dark .call_to_action .call_left h3 { color: rgba(0,0,0,.65); }
.dark .call_to_action .call_center a { color: #fff; }

/* Fancy heading */
.dark .fancy_heading_line { background-image: url(../images/fancy_heading_hr_dark.png); }

/* Content slider */
.dark .content_slider.flat a.button .button_icon i { color: #fff; }

/* Fancy links */
.dark a.mfn-link,
.dark a:hover.mfn-link { color: #fff; }
.dark a.hover.mfn-link-2 span:before,
.dark a.mfn-link-8:after,
.dark a.mfn-link-8:before { background: #fff; }
.dark a.mfn-link-4:hover:before,
.dark a.mfn-link-4:hover:after,
.dark a.hover.mfn-link-4:before,
.dark a.hover.mfn-link-4:after,
.dark a.mfn-link-7:after,
.dark a.mfn-link-7:before { background: #fff; }
.dark a.mfn-link-6:before { border-bottom-color: #fff; }

/* #Video Section
================================================== */
.section.has-video { position:relative; overflow:hidden;}
.section.has-video .section_video { position: absolute; top: 0; left: 0; min-height: 100%; min-width: 100%; overflow: hidden;  z-index: 1;}
.section.has-video .section_video .mask { position: absolute; top: 0; left: 0;  height: 100%; width: 100%; z-index: 3; background:url(../images/videomask.png) repeat center;}
.section.has-video .section_video video { position: absolute; top: 0; left: 0; min-height: 100%; min-width: 100%; z-index: 2;}
.section.has-video .section_wrapper { position:relative; z-index:10;}
@media only screen and (min-device-width:481px) and (max-device-width:1024px){ 
	.section.has-video .section_video { display: none !important; }
}


/* #Section Navigation
================================================== */
.section.has-navi .section-nav { position:absolute; left:50%; z-index:2; cursor: pointer; font-size: 38px; width: 50px; height: 50px; line-height: 50px; margin: 0 0 0 -25px; text-align: center; color: rgba(0,0,0,.2); }
.section.has-navi .section-nav:hover { color: rgba(0,0,0,.8); }
.section.has-navi .section-nav.prev { top:75px;}
.section.has-navi .section-nav.next { bottom:75px;}
.section.has-navi:first-child .section-nav.prev,
.section.has-navi:nth-last-child(2) .section-nav.next { display:none;}

.section.has-navi .section-nav { color: rgba(0,0,0,.2); }
.section.has-navi .section-nav:hover { color: rgba(0,0,0,.8); }
.section.has-navi.dark .section-nav { color: rgba(255,255,255,.2); }
.section.has-navi.dark .section-nav:hover { color: rgba(255,255,255,.8); }

	/* Animation */
	.section.has-navi .section-nav { -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; }


/* Visual Composer | Frontend Editor
================================================== */
.wpb_wrapper > div { margin-bottom:35px;}
.wpb_wrapper.ui-sortable .vc_call_to_action { background:none; border:none; padding:0;}

body.layout-boxed .vc_row[data-vc-stretch-content="true"] { left:0 !important; width:auto !important; margin-left: -2.7%; margin-right: -2.7%;}
body.layout-boxed .vc_row-no-padding .wpb_column { padding:0;}

.vc_images_carousel { width: auto !important;}
